<div class="fixed-bottom bg-primary">
<footer class="text-muted py-2">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#"><i class="fas fa-arrow-up"></i> {% trans %}Back to top{% endtrans %}</a>
    </p>
    <p class="mb-0">{% trans %}New to Bootstrap?{% endtrans %} <a href="/">{% trans %}Visit the homepage{% endtrans %}</a> {% trans %}or read our{% endtrans %} <a href="/docs/5.0/getting-started/introduction/">{% trans %}getting started guide{% endtrans %}</a>.</p>
  </div>
</footer>
</div>