{% apply inline_css(source('@styles/bootstrap.min.css')) %}

 <div class="container">
    <div class="row col-12 d-flex justify-content-center mt-5">
        <div class="card text-dark border-success mb-3" style="max-width: 40rem;">
            <div class="card-body">
            <div>{% trans %}Welcome aboard{% endtrans %}</div>
                <p>
                    {% trans %}Please confirm your email address by clicking the following link{% endtrans %}: <br><br>
                    <a href="{{ signedUrl|raw }}">{% trans %}Confirm my Email{% endtrans %}</a>.
                    {% trans %}This link will expire in{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
                </p>
            </div>
        </div>
    </div>
</div>

{% endapply %}
